
.Post {
  position: relative;
  .Title {
    color: $FgFocus;
  }
  .Date {
    position: absolute;
    top: 1.11rem; right: .5rem;
    font-size: .85rem;
    color: $FgFocus;
  }
  .Prompt {
    font-weight: bold;
    margin: 0 0 1em;
  }
  .Tags {
    padding-bottom: .5em;
    border-bottom: 1px solid $FgInactive;
    .Tag {
      padding: .33em .5em;
      margin-right: .5em;
      margin-bottom: .5em;
      float: left;
      background-color: $BgSecondary;
    }
  }
  .Content {
    padding: 0.05px;
    h1, h2, h3, h4, h5 {
      color: $FgSpecial;
    }
    img {
      display: block;
    }
  }
}

.PostsList {
  text-align: left;
  .Post {
    background-color: #6662;
    padding: 0 .5em;
    transition: background .3s ease;
    margin-bottom: 1em;
    cursor: pointer;
    .Title {
      color: $FgSpecial;
    }
    .Date {
      top: .5em;
    }
    .Prompt {
      font-weight: inherit;
    }
    .Tags {
      border: none;
    }
    &:hover {
      background-color: #6666663C;
    }
    .Controls {
      position: absolute;
      bottom: .2em; right: .2em;
    }
  }
}
