
.Post {
  position: relative;
  .Title {
    color: $FgFocus;
    padding: .5em 0;
  }
  .Dates {
    position: absolute;
    top: 1.11rem; right: .5rem;
    @include breakpoint(lowres) {
      font-size: .85rem;
    }
    color: $FgInactive;
    div {
      text-align: right;
      margin-bottom: .5em;
    }
    .Date { color: $FgSpecial; }
  }
  .Prompt {
    font-weight: bold;
    margin: 0 0 1em;
  }
  .Tags {
    padding-bottom: .5em;
    border-bottom: 1px solid $FgInactive;
    .Tag {
      padding: .33em .5em;
      margin-right: .5em;
      margin-bottom: .5em;
      float: left;
      background-color: $BgSecondary;
    }
  }
  .Content {
    padding: 0.05px;
    h1, h2, h3, h4, h5 {
      color: $FgSpecial;
    }
    img {
      display: block;
      float: right;
      border-radius: .5em;
      border: 2px solid $FgFocus;
      margin: .5em;
      background-color: #000;
      max-width: 50%;
    }
  }
}

.PostsList {
  text-align: left;
  .Post {
    background-color: #6662;
    padding: 0 .5em;
    transition: background .3s ease;
    margin-bottom: 1em;
    cursor: pointer;
    .Title {
      color: $FgSpecial;
    }
    .Dates {
      top: .5em; right: .5em;
    }
    .Prompt {
      font-weight: inherit;
    }
    .Tags {
      border: none;
    }
    &:hover {
      background-color: #6666663C;
    }
    .Controls {
      position: absolute;
      bottom: .5em; right: .5em;
      button {
        display: block;
        float: left;
        width: 7em;
        border: 1px solid $FgInactive;
        margin: .15em;
        background-color: $BgPrimary;
        opacity: .7;
        transition: opacity .3s ease;
        &:hover { opacity: 1; }
      }
      .Published {
        float: left;
        width: 3.5em;
        margin: .15em;
        padding: calc(0.4em + 1px);
        text-align: center;
        &.Draft { background-color: $BgStatusDraft; }
        &.Public { background-color: $BgStatusPublic; }
        img { height: 1em; }
      }
      &::after {
        display: block;
        content: '';
        clear: both;
      }
    }
  }
}
#SectionAdmin .PostsList .Post:hover {
  background-color: #6662;
  cursor: auto;
}
