
.SlideIn {
  @keyframes slideInAnimation {
    0%   {bottom: -2vh; opacity: 0; };
    100% {bottom: 0; opacity: 1; };
  }
  position: relative;
  animation: slideInAnimation ease-out .3s;
}
.FadeIn {
  @keyframes fadeInAnimation {
    0%   { opacity: 0; };
    100% { opacity: 1; };
  }
  animation: fadeInAnimation ease-out .5s;
}

#SectionLanding {
  form { @include breakpoint(lowres wide) {
    width: 50%;
    float: left;
  }}
  #Banner {
    padding: .05px .05px 1em;
    text-align: center;
    margin-bottom: 1em;
    h1 { padding: .33em 0; }
    div { color: $FgSpecial; }
  }
}

#Loading {
  text-align: center;
  margin-top: calc(50vh - 5em);
}
