
.Options {
  .Pair {
    margin: auto;
    width: 50%;
    min-width: 25em;
    padding: .5em;
    .Key {
      float: left;
      padding: 0 .5em;
    }
    .Value {
      float: right;
      padding: 0 .5em;
    }
  }
  .Right {
    margin: auto;
    width: 50%;
    min-width: 350px;
    &>* {
      float: right;
      margin-left: .25em;
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
