
.TextContent {
  margin: 1.5em auto;
  max-width: 80vw;
  color: $FgText;
  button {
    padding: .4em 1.5em;
    margin-top: 1em;
  }
  form {
    display: block;
    text-align: center;
    max-width: 1000px;
    margin: auto;
  }
  @include allTextInputs() {
    width: 80%;
    margin: auto;
    display: block;
    padding: .25em;
    margin-top: .5em;
  }
  .Pair {
    max-width: 800px;
    width: 80%;
    margin: auto;
    &:nth-of-type(1) {
      margin-top: 1.5em;
    }
    .Key {
      float: left;
      padding: .25em;
    }
    .Value {
      color: $FgFocus;
      font-weight: bold;
      float: right;
      padding: .25em;
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .AlignRight {
    max-width: 800px;
    width: 80%;
    margin: auto;
    padding: .5em 0;
    text-align: right;
  }
  .Links {
    margin: .5em 0;
    a {
      border-bottom: 1px solid #6666;
      margin-right: .75em;
      border-radius: .33em;
      opacity: .6;
      transition: opacity .3s ease;
      color: inherit;
      text-decoration: none;
      font-size: .85em;
      img {
        width: 1.5em;
        height: 1.5em;
      }
      span {
        position: relative;
        bottom: .25em;
      }
      &:hover {
        opacity: 1;
        border-color: #888;
      }
    }
  }
}
